@model SpotifyFutureAlbums.ViewModels.AllAPIDetails

@*Fantasy Football Auth*@
<section class="bg-light page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Authenticated Team Data<i class="fas fa-lock" style="color:#f1353a"></i></h2>
                <h3 class="section-subheading text-muted"><a href="https://fantasy.premierleague.com/api/my-team/186809" target="_blank">POST request to the API</a> which returns cookies that are used in the follow up <a href="https://fantasy.premierleague.com/my-team" target="_blank"> GET request</a></h3>
            </div>    
            <div class="col-lg-12 text-center">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Element</th>
                            <th>Position</th>
                            <th>Is Captain</th>
                        </tr>
                    </thead>

                    @foreach (var pick in Model.MyTeamRootObject.picks)
                    {
                        <tr>
                            <td>
                                @pick.element
                            </td>
                            <td>
                                @pick.position
                            </td> 
                            <td>
                                @pick.is_captain
                            </td>
                            
                        </tr>
                    }
                    </table>
            </div>
        </div>
    </div>
</section>