<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">My Web Tools Project site</div>
            <div class="intro-heading text-uppercase">Public, Authenicated API requests</div>
            <div class="subheading">Also a cheeky Webscraper thrown in for good measure</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Show me!</a>
        </div>
    </div>
</header>