<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">My API Project site!</div>
            <div class="intro-heading text-uppercase">PUBLIC & Authenicated API requests</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Show me some FOOTBALL STATS!</a>
        </div>
    </div>
</header>