<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in" style="font-family:Kaushan Script;">My Web Tools Project site</div>
            <div class="intro-heading text-uppercase">API's & Webscrapers using C# MVC</div>
            <a class="btn btn-primary text-uppercase js-scroll-trigger" href="#services">Show me!</a>
        </div>
    </div>
</header>