@*@model SpotifyFutureAlbums.Models.FootballObject*@


@*Spotify API*@
<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase"><i class="fab fa-spotify" style="color:#1aa34a"></i> Spotify <i class="fab fa-spotify" style="color:#1aa34a"></i></h2>
                <h3 class="section-subheading text-muted">Playlists and other sorts from the API of https://www.spotify.com/uk/</h3>
            </div>
        </div>
    </div>
</section>