@model SpotifyFutureAlbums.ViewModels.AllAPIDetails
@*Weather API*@
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase"> Weather Forecast <i class="fas fa-cloud-sun-rain" style="color:deepskyblue"></i></h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
                <input class="form-control" id="txtCity" placeholder="CityName: " type="text" />
            </div>
            <div class="col-lg-4">
                <button class="btn btn-dark" id="btnSubmit">Get Weather Forecast</button>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="container my-5">
                <div class="col-lg-12 text-center">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th><i class="fas fa-bolt"></i></th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Description</th>
                                <th>°C</th>
                                <th>Min</th>
                                <th>Max</th>
                            </tr>
                        </thead>
                        <tr>
                            <td><img id="imgWeatherIconUrl" /></td>
                            <td id="lblCity"></td>
                            <td id="lblCountry"></td>
                            <td id="lblDescription"></td>
                            <td id="lblTemp"></td>
                            <td id="lblTempMin"></td>
                            <td id="lblTempMax"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $("#btnSubmit").click(function () {

        var cityname = $("#txtCity").val();
        if (cityname.length > 0) {
            $.ajax({
                url: "/Home/WeatherDetail?City=" + cityname,
                type: "POST",
                success: function (rsltval) {
                    var data = JSON.parse(rsltval);
                    console.log(data);
                    $("#lblCity").html(data.City);
                    $("#lblCountry").text(data.Country);
                    $("#lblLat").text(data.Lat);
                    $("#lblLon").text(data.Lon);
                    $("#lblDescription").text(data.Description);
                    $("#lblHumidity").text(data.Humidity);
                    $("#lblTempFeelsLike").text(data.TempFeelsLike);
                    $("#lblTemp").text(data.Temp);
                    $("#lblTempMax").text(data.TempMax);
                    $("#lblTempMin").text(data.TempMin);
                    $("#imgWeatherIconUrl").attr("src", "http://openweathermap.org/img/w/" + data.WeatherIcon + ".png");
                    //data - response from server
                },
                error: function () {

                }
            });
        }
        else {
            alert("City Not Found");
        }
    });

</script>


