<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase"> Email Web Scraper <i class="fas fa-wrench" style="color:#808080;"></i></h2>
                <h3 class="section-subheading text-muted">Enter any URL and scrape the site for email addresses. </h3>
                <h3 class="section-subheading text-muted">Example:  <strong> https://www.plymouth.gov.uk/contactus </strong></h3>
            </div>
            <div class="col-lg-12 text-center">
                <form id="contactForm" name="sentMessage">
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-5">
                            <div class="form-group text-center">
                                <input class="form-control" id="urlInput" type="text" placeholder="URL..." data-validation-required-message="Please enter a URL.">
                            </div>
                        </div>
                        <div class="col-lg-5 text-center">
                            <button id="submit" class="btn btn-primary btn-lg text-uppercase">Scrape</button>
                        </div>          
                        <div class="col-lg-12 text-center">
                            <div id="twoColumn">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#reset").click(function (e) {
                $("#urlInput").val("")
                $("#twoColumn > div").html("")
            });

            $("#submit").click(function (e) {
                var validate = Validate();
                $("#message").html(validate);

                if (validate.length == 0) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetUrlSource",
                        contentType: "application/json; charset=utf-8",
                        data: '{"url":"' + $("#urlInput").val() + '"}',
                        dataType: "html",
                        success: function (result, status, xhr) {
                            GetUrlTelePhone(result);
                        },
                        error: function (xhr, status, error) {
                            $("#message").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                        }
                    });
                }
            });

            function GetUrlTelePhone(html) {
                emails = html.match(/([a-zA-Z0-9._-]+@@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi);
                emails = emails != null ? $.uniqueSort(emails) : "";
                var email = $("<p><u>Emails Found:-</u></p>");
                for (var i = 0, il = emails.length; i < il; i++)
                    email.append("<p>" + (i + 1) + ". " + emails[i] + "</p>");

                $("#twoColumn > div").first().html(email);


            }

            $(document).ajaxStart(function () {
                $("img").show();
            });

            //$(document).ajaxStop(function () {
            //    $("img").hide();
            //});


            function Validate() {
                var errorMessage = "";
                if ($("#urlInput").val() == "") {
                    errorMessage += "► Enter URL<br/>";
                }
                else if (!(isUrlValid($("#urlInput").val()))) {
                    errorMessage += "► Invalid URL<br/>";
                }

                return errorMessage;
            }

            function isUrlValid(url) {
                var urlregex = new RegExp(
                    "^(http[s]?:\\/\\/(www\\.)?|ftp:\\/\\/(www\\.)?|www\\.){1}([0-9A-Za-z-\\.@@:%_\+~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?");
                return urlregex.test(url);
            }
        });
    </script>

</section>