@*Xbox API*@
<section class="page-section" id="services">
    <div class="container" id="bottombottom">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">XBOX</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                @*<table class="table table-bordered table-striped" style="margin:auto; width:50% !important;">
            <tr>
                <th>Username</th>
                <th>Overall Points</th>
                <th>Joined</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(m => m.XXX   )</td>
                <td>@Html.DisplayFor(m => m.XXX)</td>
                <td> @Html.DisplayFor(m => m.XXX)</td>
            </tr>
        </table>*@
            </div>
        </div>
    </div>
</section>